@import 'tailwindcss';

/* CC Wild Words */
@font-face {
  font-family: 'CC Wild Words';
  src: local('CC Wild Words'), local('CCWildWords'), local('Wild Words'), local('WildWords'),
       url('/fonts/cc-wild-words.woff2') format('woff2'),
       url('/fonts/cc-wild-words.woff') format('woff'),
       url('/fonts/cc-wild-words.ttf') format('truetype');
  font-display: swap;
}

/* Anime Ace */
@font-face {
  font-family: 'Anime Ace';
  src: local('Anime Ace'), local('AnimeAce'), local('Anime Ace BB'), local('AnimeAceBB'),
       url('/fonts/animeace.woff2') format('woff2'),
       url('/fonts/animeace.woff') format('woff'),
       url('/fonts/animeace.ttf') format('truetype');
  font-display: swap;
}

/* CC Lettering Black */
@font-face {
  font-family: 'CC Lettering Black';
  src: local('CC Lettering Black'), local('CCLetteringBlack'), local('Lettering Black'), local('LetteringBlack'),
       url('/fonts/CCLetteringBlack.woff2') format('woff2'),
       url('/fonts/CCLetteringBlack.woff') format('woff'),
       url('/fonts/CCLetteringBlack.ttf') format('truetype');
  font-display: swap;
}

/* Whiz Bang */
@font-face {
  font-family: 'Whiz Bang';
  src: local('Whiz Bang'), local('WhizBang'), local('Whiz Bang Quick'), local('WhizBangQuick'),
       url('/fonts/whizbang-roman.woff2') format('woff2'),
       url('/fonts/whizbang-roman.woff') format('woff'),
       url('/fonts/whizbang-roman.ttf') format('truetype');
  font-display: swap;
}

/* Augie */
@font-face {
  font-family: 'Augie';
  src: local('Augie'),
       url('/fonts/augie.woff2') format('woff2'),
       url('/fonts/augie.woff') format('woff'),
       url('/fonts/augie.ttf') format('truetype');
  font-display: swap;
}

@plugin "daisyui" {
	themes: false;
}

/* light-purple (default) */
@plugin "daisyui/theme" {
  name: "light-purple";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-accent: oklch(0.8409 0.0835 303.53);
  --color-background-light: oklch(1 0 0);
  --color-background-dark: oklch(0.1578 0.0491 256);
  --color-primary: oklch(0.3023 0.0325 267.11);
  --color-primary-foreground: oklch(0.9838 0.0035 247.86);
  --color-primary-border: oklch(0.9276 0.0058 264.53);
  --color-secondary: oklch(0.967 0.0029 264.54);
  --color-text-accent-foreground: oklch(1 0 0);
  --drop-shadow-purple: 0px 0px 10px 3px rgba(214, 190, 248, 0.7);
}

/* light-green */
@plugin "daisyui/theme" {
  name: "light-green";
  prefersdark: false;
  color-scheme: light;

  --color-accent: oklch(0.8409 0.0835 154.51);
  --color-background-light: oklch(1 0 0);
  --color-background-dark: oklch(0.1578 0.0491 256);
  --color-primary: oklch(0.3023 0.0325 267.11);
  --color-primary-foreground: oklch(0.9838 0.0035 247.86);
  --color-primary-border: oklch(0.9276 0.0058 264.53);
  --color-secondary: oklch(0.967 0.0029 264.54);
  --color-text-accent-foreground: oklch(1 0 0);
}

/* light-blue */
@plugin "daisyui/theme" {
  name: "light-blue";
  prefersdark: false;
  color-scheme: light;

  --color-accent: oklch(0.8409 0.0835 241.86);
  --color-background-light: oklch(1 0 0);
  --color-background-dark: oklch(0.1578 0.0491 256);
  --color-primary: oklch(0.3023 0.0325 267.11);
  --color-primary-foreground: oklch(0.9838 0.0035 247.86);
  --color-primary-border: oklch(0.9276 0.0058 264.53);
  --color-secondary: oklch(0.967 0.0029 264.54);
  --color-text-accent-foreground: oklch(1 0 0);
}

/* light-red */
@plugin "daisyui/theme" {
  name: "light-red";
  prefersdark: false;
  color-scheme: light;

  --color-accent: oklch(0.8409 0.0835 16.68);
  --color-background-light: oklch(1 0 0);
  --color-background-dark: oklch(0.1578 0.0491 256);
  --color-primary: oklch(0.3023 0.0325 267.11);
  --color-primary-foreground: oklch(0.9838 0.0035 247.86);
  --color-primary-border: oklch(0.9276 0.0058 264.53);
  --color-secondary: oklch(0.967 0.0029 264.54);
  --color-text-accent-foreground: oklch(1 0 0);
}

/* light-yellow */
@plugin "daisyui/theme" {
  name: "light-yellow";
  prefersdark: false;
  color-scheme: light;

  --color-accent: oklch(0.9421 0.1548 101.12);
  --color-background-light: oklch(1 0 0);
  --color-background-dark: oklch(0.1578 0.0491 256);
  --color-primary: oklch(0.3023 0.0325 267.11);
  --color-primary-foreground: oklch(0.9838 0.0035 247.86);
  --color-primary-border: oklch(0.9276 0.0058 264.53);
  --color-secondary: oklch(0.967 0.0029 264.54);
  --color-text-accent-foreground: oklch(1 0 0);
}

/* light-pink */
@plugin "daisyui/theme" {
  name: "light-pink";
  prefersdark: false;
  color-scheme: light;

  --color-accent: oklch(0.8466 0.1039 339.89);
  --color-background-light: oklch(1 0 0);
  --color-background-dark: oklch(0.1578 0.0491 256);
  --color-primary: oklch(0.3023 0.0325 267.11);
  --color-primary-foreground: oklch(0.9838 0.0035 247.86);
  --color-primary-border: oklch(0.9276 0.0058 264.53);
  --color-secondary: oklch(0.967 0.0029 264.54);
  --color-text-accent-foreground: oklch(1 0 0);
}


@theme {
	--color-background-light: oklch(1 0 0);
	--color-background-dark: oklch(0.1578 0.0491 256);
	--color-primary: oklch(0.3023 0.0325 267.11);
	--color-primary-foreground: oklch(0.9838 0.0035 247.86);
	--color-primary-border: oklch(0.9276 0.0058 264.53);
	--color-secondary: oklch(0.967 0.0029 264.54);
	--color-accent-purple: oklch(0.8409 0.0835 303.53);
	--color-accent-green: oklch(0.8409 0.0835 154.51);
	--color-accent-blue: oklch(0.8409 0.0835 241.86);
	--color-accent-red: oklch(0.8409 0.0835 16.68);
	--color-accent-yellow: oklch(0.9421 0.1548 101.12);
	--color-accent-pink: oklch(0.8466 0.1039 339.89);

}
